replicaCount: 1

image:
  #si hago helm install manual cambiar por repo de dockerhub
  repository: gcr.io/fc-labs-pro-lab2/pokemon-nginx
  #repository: banhendrick/nginx-php-pokemon:app
  pullPolicy: Always
  tag: "app"

container:
  name: nginx-container
  port: 80
  ports:
    - name: http
      containerPort: 80

service:
  name: nginx-service
  type: LoadBalancer
  port: 8080
  targetPort: 80

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
